body {
  font-family: Arial, sans-serif;
  background: #f0f0f0;
  text-align: center;
  padding: 50px;
}
.container {
  background: white;
  padding: 20px;
  border-radius: 8px;
  display: inline-block;
}
input {
  padding: 10px;
  width: 200px;
}
button {
  padding: 10px;
}
li {
  color: black;
  font-size: 18px;
  margin: 5px 0 ;
  text-align: left;
  margin: 5px 0;
}